.GameOn-Memory{
    perspective: 800px;
}

.GameOn-Memory .row img{
    width: 100px;
    height: 100px;
    margin: 5px 10px;
    transform-style: preserve-3d;
    transition: all 0.25s linear;
}
.GameOn-Memory .row img.flipped {
    transform: rotateY(180deg);
}

.GameOn-Memory .gameBoard .row .col img{
    width: 100px;
    height: 100px;
}