section, date{
    display: block;
}

.labbymezzage{
    width: 250px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    position: relative;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    overflow: auto;
    padding-bottom: 20px;
}

.labbymezzage h1{
    text-align: center;
    font-size: medium;
}

.labbymezzage .labbyMezzageArea{
    width: 95%;
    margin: 0 auto;
    height: 200px;
    overflow: auto;
}

.labbymezzage .labbyMezzageArea section p{
    max-width: 80%;
}

.labbymezzage .labbyMezzageArea section img{
    float: right;
    max-width: 7%;
    margin-right: 2px;
    margin-bottom: 5px;
}

.labbymezzage .labbyMezzageArea section img:hover, .labbymezzage .submitBtn:hover{
    cursor: pointer;

}

.labbymezzage .labbyMezzageArea section
{
    clear: both;
    font-size: small;
    position: relative;
    width: 80%;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
    margin-bottom: 10px;
}

.labbymezzage .labbyMezzageArea section:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -10px;
    right: -10px;
    top: 50%;
}

.labbymezzage .labbyMezzageArea section:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent #bcbcbc;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -10px;
    right: -11px;
    top: 50%;
}


.labbymezzage .labbyMezzageArea date{
    font-size: smaller;
    text-align: right;
    margin-top: -12px;
    color: #999999;
    font-style: italic;
}

.labbymezzage .labbyMezzageCount{
    text-align: right;
    color: #999999;
    font-style: italic;
    margin-right: 10px;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 10px;
}

.labbymezzage .labbyMezzageContent{
    float: left;
    width: 55%;
    margin-left: 5%;
    resize: none;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
    font-size: small;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.labbymezzage .submitBtn {
    float: left;
    height: 50px;
    margin-left: 5%;
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);

    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}

.labbymezzage .submitBtn:hover {
    color: #555;
}
