@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

.thequiz{
    position: relative;
    overflow: auto;
    display: inline-block;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    width: 300px;

}

.thequiz .workArea{
    height: 400px;
    position: relative;
    overflow: auto;
}
.thequiz .workArea .questionList{
    max-height: 320px;
    overflow: auto;
}


.thequiz .workArea .questionField{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    padding: 20px 10px;
    margin-top: 20%;
    font-size: 40px;
    opacity: 1;

    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.thequiz .workArea .questionField p{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 14px;
    color: red;
}

.thequiz .workArea .answerBox {
    width: 175px;
    padding: 5px;
    min-height: 10px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.thequiz .workArea button {
    width: 100px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #888;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
}

.thequiz .workArea button:hover {
    color: #555;
}

.thequiz .workArea button.newGame {
    margin-bottom: 10px;
    width: 80%;
    right: 10%;
}

.thequiz .hidden{
    display: none;
}

.thequiz .workArea section a{
    text-decoration: none;
}

.thequiz .workArea section header{

    margin-bottom: 0;
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 8px 8px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;

    opacity: 1;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.thequiz .workArea .opacity-0{
    opacity: 0;
}
.thequiz .workArea section header img {
    width: 20px;
    position: absolute;
    right: 5px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.thequiz .workArea section header img.up {


    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
.thequiz .workArea section.result {
    margin: 10px;
    border-radius: 4px;
}

.thequiz .workArea section.correct {
    border: 1px solid #a4b357;
}

.thequiz .workArea section.incorrect {
    border: 1px solid #ff7869;
}

.thequiz .workArea section.correct header{
    background: #a4b357; /* Old browsers */
    background: -moz-linear-gradient(top,  #a4b357 0%, #75890c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
}
.thequiz .workArea section.correct header:hover {
    background: #c4ce92; /* Old browsers */
    background: -moz-linear-gradient(top, #c4ce92 0%, #cbec26 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4ce92), color-stop(100%, #cbec26)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c4ce92 0%, #cbec26 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c4ce92 0%, #cbec26 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c4ce92 0%, #cbec26 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c4ce92 0%, #cbec26 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4ce92', endColorstr='#cbec26', GradientType=0); /* IE6-9 */
}

.thequiz .workArea section.incorrect header{
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.thequiz .workArea section.incorrect header:hover {
    background: #ff7869; /* Old browsers */
    background: -moz-linear-gradient(top, #ff7869 0%, #fb4141 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7869), color-stop(100%, #fb4141)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff7869 0%, #fb4141 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff7869 0%, #fb4141 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff7869 0%, #fb4141 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff7869 0%, #fb4141 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7869', endColorstr='#fb4141', GradientType=0); /* IE6-9 */
}

.thequiz .workArea section.answer{
    background-color: #FFF;
    padding: 8px 8px;
    text-align: center;
    -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
}

.thequiz .workArea .totalScore{
    position: absolute;
    bottom: 50px;
    width: 80%;
    left: 10%;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}