/*************************************************
        Fonts
*************************************************/

@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(http://fonts.googleapis.com/css?family=Exo+2:800);

/*************************************************
        IE-fix
*************************************************/
header, main, footer, article{
    display: block;
}


/*************************************************
        Desktop
*************************************************/


.AppLoader{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 500;
    background-color: #000;
}
.AppLoader h1{
    position: absolute;
    top: 25%;
    right: 20%;
    left: 20%;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.AppLoader .container{
    position: absolute;
    top: 40%;
    right: 40%;
    left: 40%;
    height: 5px;
    padding: 3px;
    background-color: #fff;
    border-radius: 10px;
}

.AppLoader .container .progress{
    height: 100%;
    width: 0;

    background: rgb(118,177,1); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(118,177,1,1) 0%, rgba(118,177,1,1) 47%, rgba(102,153,0,1) 48%, rgba(102,153,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(118,177,1,1)), color-stop(47%,rgba(118,177,1,1)), color-stop(48%,rgba(102,153,0,1)), color-stop(100%,rgba(102,153,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(118,177,1,1) 0%,rgba(118,177,1,1) 47%,rgba(102,153,0,1) 48%,rgba(102,153,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(118,177,1,1) 0%,rgba(118,177,1,1) 47%,rgba(102,153,0,1) 48%,rgba(102,153,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(118,177,1,1) 0%,rgba(118,177,1,1) 47%,rgba(102,153,0,1) 48%,rgba(102,153,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(118,177,1,1) 0%,rgba(118,177,1,1) 47%,rgba(102,153,0,1) 48%,rgba(102,153,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b101', endColorstr='#669900',GradientType=0 ); /* IE6-9 */

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


.AppLoader .container .progress.loading{
    width: 100%;
}

/*************************************************
        Desktop
*************************************************/
.desktop{
    font-family: 'Roboto', sans-serif;
    background: url(../images/desktop/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.desktop nav{
    background: -moz-linear-gradient(top,  rgba(94,94,94,1) 0%, rgba(14,14,14,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(14,14,14,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#cc0e0e0e',GradientType=0 ); /* IE6-9 */

    border-top: 1px solid #727272;

    position: fixed;
    bottom: 0;
    padding-bottom: 0;
    left: 0;
    right: 0;
}
.desktop a.appLauncher{
    background: -moz-linear-gradient(top,  rgba(94,94,94,1) 0%, rgba(14,14,14,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(14,14,14,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#cc0e0e0e',GradientType=0 ); /* IE6-9 */

    display: block;
    text-decoration: none;
    height: 60px;
    width: 60px;
    padding: 5px;

    margin: 3px;
    margin-left: 10px;
    border-radius: 10px;
}
.desktop a.appLauncher img{
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;
}
.desktop a.appLauncher:hover{
    background: rgb(123,123,123); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(123,123,123,1) 0%, rgba(57,57,57,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(123,123,123,1)), color-stop(100%,rgba(57,57,57,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(123,123,123,1) 0%,rgba(57,57,57,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(123,123,123,1) 0%,rgba(57,57,57,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(123,123,123,1) 0%,rgba(57,57,57,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(123,123,123,1) 0%,rgba(57,57,57,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7b7b', endColorstr='#393939',GradientType=0 ); /* IE6-9 */

    cursor: pointer;
}

.desktop a.appLauncher span{
    font-size: 10px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}
.desktop nav{
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    height: 3px;
}

.desktop nav.showNav{
    height: 45px;
}

.desktop nav img.minimizedWindow{
    float: left;
    height: 40px;
    width: 40px;
    margin: 3px;
}
.desktop nav img:hover{
    cursor: pointer;
}

/*************************************************
        Application
*************************************************/

.top{
    z-index: 10;
}
.application.fullscreen{
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
.application{
    position: absolute;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 3px ridge #f7f7f7;
    -webkit-box-shadow: 9px 9px 30px -7px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    9px 9px 30px -7px rgba(50, 50, 50, 0.75);
    box-shadow:         9px 9px 30px -7px rgba(50, 50, 50, 0.75);
}

.application.dragging{
    opacity: .7;
}

.application.dragging:before {
    border: 2px solid #00EEFF;
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
}
.application .appHeader{

    background: -moz-linear-gradient(top,  rgba(94,94,94,1) 0%, rgba(14,14,14,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(14,14,14,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#cc0e0e0e',GradientType=0 ); /* IE6-9 */

    position: absolute;
    left: -3px;
    right: -3px;
    top: -3px;
    overflow: auto;
}


.application .appHeader h2{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin: 0;
    color: #f7f7f7;
    margin-top: 4px;
    float: left;
}
.application .appHeader .appController{
    float: right;
    width: 15px;
    padding: 3px;
    margin-bottom: 7px;
}
.application .appHeader .appIcon{
    float: left;
    padding: 0 2px;
    width: 20px;
}


.application .appHeader .appController:nth-of-type(2), .application .popup a:hover{
    background: -moz-linear-gradient(top,  rgba(248,80,50,0.5) 0%, rgba(241,111,92,0.5) 50%, rgba(246,41,12,0.5) 51%, rgba(240,47,23,0.5) 71%, rgba(231,56,39,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,0.5)), color-stop(50%,rgba(241,111,92,0.5)), color-stop(51%,rgba(246,41,12,0.5)), color-stop(71%,rgba(240,47,23,0.5)), color-stop(100%,rgba(231,56,39,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,80,50,0.5) 0%,rgba(241,111,92,0.5) 50%,rgba(246,41,12,0.5) 51%,rgba(240,47,23,0.5) 71%,rgba(231,56,39,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,80,50,0.5) 0%,rgba(241,111,92,0.5) 50%,rgba(246,41,12,0.5) 51%,rgba(240,47,23,0.5) 71%,rgba(231,56,39,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,80,50,0.5) 0%,rgba(241,111,92,0.5) 50%,rgba(246,41,12,0.5) 51%,rgba(240,47,23,0.5) 71%,rgba(231,56,39,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(248,80,50,0.5) 0%,rgba(241,111,92,0.5) 50%,rgba(246,41,12,0.5) 51%,rgba(240,47,23,0.5) 71%,rgba(231,56,39,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f85032', endColorstr='#80e73827',GradientType=0 ); /* IE6-9 */
}
.application .appHeader .appController:nth-of-type(2):hover, .application .popup a{
    cursor: pointer;
    background: rgb(248,80,50); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(231,56,39,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(231,56,39,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(231,56,39,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

}

.application .appHeader .appController:nth-of-type(3){
    background: -moz-linear-gradient(top,  rgba(248,202,50,1) 0%, rgba(241,204,93,0.75) 50%, rgba(246,184,12,0.75) 51%, rgba(240,182,24,0.65) 71%, rgba(231,173,39,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,202,50,1)), color-stop(50%,rgba(241,204,93,0.75)), color-stop(51%,rgba(246,184,12,0.75)), color-stop(71%,rgba(240,182,24,0.65)), color-stop(100%,rgba(231,173,39,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,202,50,1) 0%,rgba(241,204,93,0.75) 50%,rgba(246,184,12,0.75) 51%,rgba(240,182,24,0.65) 71%,rgba(231,173,39,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,202,50,1) 0%,rgba(241,204,93,0.75) 50%,rgba(246,184,12,0.75) 51%,rgba(240,182,24,0.65) 71%,rgba(231,173,39,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,202,50,1) 0%,rgba(241,204,93,0.75) 50%,rgba(246,184,12,0.75) 51%,rgba(240,182,24,0.65) 71%,rgba(231,173,39,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(248,202,50,1) 0%,rgba(241,204,93,0.75) 50%,rgba(246,184,12,0.75) 51%,rgba(240,182,24,0.65) 71%,rgba(231,173,39,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ca32', endColorstr='#80e7ad27',GradientType=0 ); /* IE6-9 */
}
.application .appHeader .appController:nth-of-type(3):hover{
    cursor: pointer;
    background: rgb(248,202,50); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(248,202,50,1) 0%, rgba(241,204,93,1) 50%, rgba(246,184,12,1) 51%, rgba(240,182,24,1) 71%, rgba(231,173,39,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,202,50,1)), color-stop(50%,rgba(241,204,93,1)), color-stop(51%,rgba(246,184,12,1)), color-stop(71%,rgba(240,182,24,1)), color-stop(100%,rgba(231,173,39,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,202,50,1) 0%,rgba(241,204,93,1) 50%,rgba(246,184,12,1) 51%,rgba(240,182,24,1) 71%,rgba(231,173,39,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,202,50,1) 0%,rgba(241,204,93,1) 50%,rgba(246,184,12,1) 51%,rgba(240,182,24,1) 71%,rgba(231,173,39,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,202,50,1) 0%,rgba(241,204,93,1) 50%,rgba(246,184,12,1) 51%,rgba(240,182,24,1) 71%,rgba(231,173,39,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(248,202,50,1) 0%,rgba(241,204,93,1) 50%,rgba(246,184,12,1) 51%,rgba(240,182,24,1) 71%,rgba(231,173,39,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ca32', endColorstr='#e7ad27',GradientType=0 ); /* IE6-9 */

}
.application .appHeader .appController:nth-of-type(4){
    background: -moz-linear-gradient(top,  rgba(124,241,7,0.5) 0%, rgba(142,239,39,0.5) 50%, rgba(114,207,7,0.5) 51%, rgba(117,208,12,0.5) 71%, rgba(124,204,20,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,241,7,0.5)), color-stop(50%,rgba(142,239,39,0.5)), color-stop(51%,rgba(114,207,7,0.5)), color-stop(71%,rgba(117,208,12,0.5)), color-stop(100%,rgba(124,204,20,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(124,241,7,0.5) 0%,rgba(142,239,39,0.5) 50%,rgba(114,207,7,0.5) 51%,rgba(117,208,12,0.5) 71%,rgba(124,204,20,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(124,241,7,0.5) 0%,rgba(142,239,39,0.5) 50%,rgba(114,207,7,0.5) 51%,rgba(117,208,12,0.5) 71%,rgba(124,204,20,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(124,241,7,0.5) 0%,rgba(142,239,39,0.5) 50%,rgba(114,207,7,0.5) 51%,rgba(117,208,12,0.5) 71%,rgba(124,204,20,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(124,241,7,0.5) 0%,rgba(142,239,39,0.5) 50%,rgba(114,207,7,0.5) 51%,rgba(117,208,12,0.5) 71%,rgba(124,204,20,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807cf107', endColorstr='#807ccc14',GradientType=0 ); /* IE6-9 */
}

.application .appHeader .appController:nth-of-type(4):hover{
    cursor: pointer;
    background: rgb(124,241,7); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(124,241,7,1) 0%, rgba(142,239,39,1) 50%, rgba(114,207,7,1) 51%, rgba(117,208,12,1) 71%, rgba(124,204,20,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,241,7,1)), color-stop(50%,rgba(142,239,39,1)), color-stop(51%,rgba(114,207,7,1)), color-stop(71%,rgba(117,208,12,1)), color-stop(100%,rgba(124,204,20,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(124,241,7,1) 0%,rgba(142,239,39,1) 50%,rgba(114,207,7,1) 51%,rgba(117,208,12,1) 71%,rgba(124,204,20,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(124,241,7,1) 0%,rgba(142,239,39,1) 50%,rgba(114,207,7,1) 51%,rgba(117,208,12,1) 71%,rgba(124,204,20,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(124,241,7,1) 0%,rgba(142,239,39,1) 50%,rgba(114,207,7,1) 51%,rgba(117,208,12,1) 71%,rgba(124,204,20,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(124,241,7,1) 0%,rgba(142,239,39,1) 50%,rgba(114,207,7,1) 51%,rgba(117,208,12,1) 71%,rgba(124,204,20,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cf107', endColorstr='#7ccc14',GradientType=0 ); /* IE6-9 */

}

.application main{
    margin-top: 30px;
    margin-bottom: 20px;
    max-height: 90%;
    overflow: auto;
}
.application.hidden, .hide{
    display: none;
}
.application img.resize{
    width: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.application .contextMenu{
    display: inline-block;
    margin: 0;
    padding: 0 10px;
}
.application .Menu{
    border-bottom: 1px solid #797C80;
}

.application .contextMenu a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.application .contextMenu:first-letter {
    text-decoration: underline;
}

.application .contextMenu ul{
    position: absolute;
    background-color: #494949;
    border: 1px solid #848484;
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.application .contextMenu li a{
    padding: 10px;
    color: white;
    display:block;
}

.application .contextMenu li:hover{
    background-color: #999;
}


.application img.resize:hover{
    cursor: nw-resize;
}

.application .popup{
    position: absolute;
    top: -20px;
    left: -15px;
    right: -15px;
    min-height: 100px;
    padding: 5%;
    z-index: 6;
    display: block;
    background-color: white;
    -webkit-box-shadow: 0 0 20px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 20px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 20px 3px rgba(50, 50, 50, 0.75);
}

.application .popup a{
    position: absolute;
    top: 0;
    right: 0;
}

.application footer.statusBar{

    background: -moz-linear-gradient(top,  rgba(94,94,94,1) 0%, rgba(14,14,14,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(14,14,14,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(94,94,94,1) 0%,rgba(14,14,14,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#cc0e0e0e',GradientType=0 ); /* IE6-9 */
    color: #AAAAAA;
    font-size: 12px;
    padding-left: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.application footer.statusBar img{
    max-height: 15px;
}
/*************************************************
        Gallery
*************************************************/

.Gallery{
    width: 450px;

}
.Gallery .imageContainer{
    margin: 5px;
    float: left;
    padding: 10px;
    background-color: rgba(0,0,0,0.15);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.2);
}

.Gallery .imageContainer:hover{
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.05);
}

.Gallery .imageContainer img{
    display: block;
    margin: 0 auto;
}


/*************************************************
        RSS
*************************************************/
.RSSWindow{
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.RSSWindow .rssFeed{
    width: 90%;

    padding: 10px;
    margin: 0 5%;
    overflow: auto;
}

.RSSWindow .rssFeed h2.rss_title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}

.RSSWindow .rssFeed a{
    display: block;
    font-size: 12px;
    text-align: center;
}

.RSSWindow .rssFeed p{
    padding: 10px;
    font-size: 1em;
    margin-top: 0;
}

.RSSWindow .rssFeed img{
    width: 100%;
}

/*************************************************
        Quote
*************************************************/

.Quote{
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 400px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.Quote img{
    max-width: 100%;
    max-height: 70%;
    position: absolute;
    bottom: 0;
    right: -300px;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.Quote img.active{
    right: 0;
}
.Quote blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 300px;
    margin: 20px;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: absolute;
    z-index: 2;
    top: -100%;
    color: #383838;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.Quote blockquote.active {
    top: 10%;
}

.Quote blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}
.Quote blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.Quote blockquote cite:before {
    content: "\2014 \2009";
}

/*************************************************
        Quiz
*************************************************/

.thequiz{
    position: relative;
    overflow: auto;
    display: inline-block;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    width: 300px;

}

.thequiz .workArea{
    height: 400px;
    position: relative;
    overflow: auto;
}
.thequiz .workArea .questionList{
    max-height: 320px;
    overflow: auto;
}


.thequiz .workArea .questionField{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    padding: 20px 10px;
    margin-top: 20%;
    font-size: 40px;
    opacity: 1;

    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.thequiz .workArea .questionField p{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 14px;
    color: red;
}

.thequiz .workArea .answerBox {
    width: 175px;
    padding: 5px;
    min-height: 10px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.thequiz .workArea button {
    width: 100px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #888;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
}

.thequiz .workArea button:hover {
    color: #555;
}

.thequiz .workArea button.newGame {
    margin-bottom: 10px;
    width: 80%;
    right: 10%;
}

.thequiz .hidden{
    display: none;
}

.thequiz .workArea section a{
    text-decoration: none;
}

.thequiz .workArea section header{

    margin-bottom: 0;
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 8px 8px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;

    opacity: 1;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.thequiz .workArea .opacity-0{
    opacity: 0;
}
.thequiz .workArea section header img {
    width: 20px;
    position: absolute;
    right: 5px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.thequiz .workArea section header img.up {


    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
.thequiz .workArea section.result {
    margin: 10px;
    border-radius: 4px;
}

.thequiz .workArea section.correct {
    border: 1px solid #a4b357;
}

.thequiz .workArea section.incorrect {
    border: 1px solid #ff7869;
}

.thequiz .workArea section.correct header{
    background: #a4b357; /* Old browsers */
    background: -moz-linear-gradient(top,  #a4b357 0%, #75890c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
}
.thequiz .workArea section.correct header:hover {
    background: #c4ce92; /* Old browsers */
    background: -moz-linear-gradient(top, #c4ce92 0%, #cbec26 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4ce92), color-stop(100%, #cbec26)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c4ce92 0%, #cbec26 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c4ce92 0%, #cbec26 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c4ce92 0%, #cbec26 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c4ce92 0%, #cbec26 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4ce92', endColorstr='#cbec26', GradientType=0); /* IE6-9 */
}

.thequiz .workArea section.incorrect header{
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.thequiz .workArea section.incorrect header:hover {
    background: #ff7869; /* Old browsers */
    background: -moz-linear-gradient(top, #ff7869 0%, #fb4141 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7869), color-stop(100%, #fb4141)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff7869 0%, #fb4141 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff7869 0%, #fb4141 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff7869 0%, #fb4141 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff7869 0%, #fb4141 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7869', endColorstr='#fb4141', GradientType=0); /* IE6-9 */
}

.thequiz .workArea section.answer{
    background-color: #FFF;
    padding: 8px 8px;
    text-align: center;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.thequiz .workArea .totalScore{
    position: absolute;
    bottom: 50px;
    width: 80%;
    left: 10%;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


/*************************************************
        Minesweeper
*************************************************/

.GameOn-Minesweeper{
    padding: 5px;
}
.GameOn-Minesweeper header{
    display: block;
    overflow: auto;
    margin-bottom: 10px;
}
.GameOn-Minesweeper .row{
    height: 20px;
}
.GameOn-Minesweeper .row img{
    position: relative;
    top: 0;
    width: 20px;
}

.GameOn-Minesweeper .timer{
    float: right;
    overflow: auto;
    height: 25px;
    text-align: left;
}

.GameOn-Minesweeper .bombsLeft{
    float: left;
    text-align: right;
}
.GameOn-Minesweeper .bombsLeft:before{
    content: url('../images/minesweeper/bomb-transparent.png');
    margin-left: 2px;
    position: absolute;
    left: 0;
}

.GameOn-Minesweeper .timer:after{
    content: url('../images/minesweeper/clock.png');
    margin-right: 2px;
    position: absolute;
    right: 0;
}

.GameOn-Minesweeper select{
    display: block;
    clear: both;
}

.GameOn-Minesweeper button {
    height: 50px;
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);


}

.GameOn-Minesweeper button:hover {
    color: #555;
}

.GameOn-Minesweeper .bombsLeft, .GameOn-Minesweeper .timer, .GameOn-Minesweeper button{
    width: 30%;
    margin: 0 1.5%;

    padding: 10px 0;
}

.GameOn-Minesweeper .bombsLeft, .GameOn-Minesweeper .timer{
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    color: darkred;
    position: relative;
    top: 0;
}

/*************************************************
        Memory
*************************************************/
.GameOn-Memory{
    perspective: 800px;
    width: 100%;
    height: 100%;
    min-height: 280px;
    min-width: 280px;
    border-radius: 10px;
}

.GameOn-Memory .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(242,205,103,0.95);
    color: white;
    font-weight: bold;
    text-align: center;
}
.GameOn-Memory .overlay button {
    height: 50px;
    margin-left: 5%;
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%);
}

.GameOn-Memory .overlay button:hover {
    color: #555;
}

.GameOn-Memory .row img{
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 20%;
    height: 20%;
    margin: 2.5%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    transform-style: preserve-3d;
    transition: all 0.25s linear;
}
.GameOn-Memory .row img.flipped {
    transform: rotateY(-180deg) scaleX(-1);
}

.GameOn-Memory .gameBoard .row .col img{
    width: 100px;
    height: 100px;
}


/*************************************************
        Chat
*************************************************/

section, date{
    display: block;
}

.labbymezzage{
    width: 250px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    position: relative;
    overflow: auto;
}

.labbymezzage h1{
    text-align: center;
    font-size: 22px;
}

.labbymezzage .labbyMezzageArea{
    width: 95%;
    margin: 0 auto;
    height: 200px;
    overflow: auto;
}

.labbymezzage .labbyMezzageArea::-webkit-scrollbar
{
    width: 5px;  /* for vertical scrollbars */
    height: 5px; /* for horizontal scrollbars */
}

.labbymezzage .labbyMezzageArea::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

.labbymezzage .labbyMezzageArea::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.labbymezzage .labbyMezzageArea section p{
    max-width: 80%;
}

.labbymezzage .labbyMezzageArea section img{
    position: relative;
    top: 0;
    float: right;
    max-width: 7%;
    margin-right: 2px;
    margin-bottom: 5px;
}

.labbymezzage .labbyMezzageArea section img:hover, .labbymezzage .submitBtn:hover{
    cursor: pointer;

}
.labbymezzage .labbyMezzageArea section p{
    line-height: 14px;
    margin: 0;
    margin-bottom: 5px;
}
.labbymezzage .labbyMezzageArea section
{
    clear: both;
    font-size: medium;
    position: relative;
    width: 80%;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
    margin-bottom: 10px;
}

.labbymezzage .labbyMezzageArea section:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -10px;
    right: -10px;
    top: 50%;
}

.labbymezzage .labbyMezzageArea section:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent #bcbcbc;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -10px;
    right: -11px;
    top: 50%;
}


.labbymezzage .labbyMezzageArea date{
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: smaller;
    text-align: right;
    color: #999999;
    font-style: italic;
}

.labbymezzage .labbyMezzageCount{
    text-align: right;
    color: #999999;
    font-style: italic;
    margin: 0 10px;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 10px;
}

.labbymezzage .labbyMezzageContent{
    float: left;
    width: 55%;
    margin-left: 5%;
    resize: none;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
    font-size: small;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.labbymezzage .submitBtn {
    float: left;
    height: 50px;
    margin-left: 5%;
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);

    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}

.labbymezzage .submitBtn:hover {
    color: #555;
}
